name: release

on:
  #push:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *' #UTC

jobs:
  release:
    name: release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: 8.5
          extensions: mbstring
          coverage: none
      - name: Install Composer dependencies
        run: composer install --no-dev
      - name: env
        run: |
          cp .env.example .env
          php artisan key:generate
      - name: Install Copilot CLI
        run: |
          curl -fsSL https://gh.io/copilot-install | bash
      - name: Run release command
        run: |
          php artisan chat:release laravel/framework
          php artisan chat:release laravel/laravel
          php artisan chat:release laravel/boost
          php artisan chat:release livewire/livewire
          php artisan chat:release inertiajs/inertia
          php artisan chat:release github/copilot-cli
          #php artisan chat:release livewire/flux
          #php artisan chat:release tailwindlabs/tailwindcss
          #php artisan chat:release composer/composer
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COPILOT_GITHUB_TOKEN: ${{ secrets.COPILOT_GITHUB_TOKEN }}
          AWS_BEDROCK_MODEL: 'global.anthropic.claude-haiku-4-5-20251001-v1:0'
          AWS_BEDROCK_API_KEY: ${{ secrets.AWS_BEDROCK_API_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'us-east-1'
          NOSTR_SK: ${{ secrets.NOSTR_SK }}
          NOSTR_API_BASE: ${{ secrets.NOSTR_API_BASE }}
          TIPS_API_TOKEN: ${{ secrets.TIPS_API_TOKEN }}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
