name: tips

on:
  workflow_dispatch:
  #push:
  #schedule:
  #  - cron: '0 3 * * 0' #UTC

jobs:
  tips:
    name: tips
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: 8.4
          extensions: mbstring
          coverage: none
      - name: Install Composer dependencies
        run: composer install --no-dev -q
      - name: env
        run: |
          cp .env.example .env
          php artisan key:generate
      - name: Install Copilot CLI
        run: |
          curl -fsSL https://gh.io/copilot-install | bash
      - name: Run tips command
        run: php artisan chat:tips
        env:
          COPILOT_GITHUB_TOKEN: ${{ secrets.COPILOT_GITHUB_TOKEN }}
          AWS_BEDROCK_MODEL: 'global.anthropic.claude-haiku-4-5-20251001-v1:0'
          AWS_BEDROCK_API_KEY: ${{ secrets.AWS_BEDROCK_API_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'us-east-2'
          NOSTR_SK: ${{ secrets.NOSTR_SK }}
          NOSTR_API_BASE: ${{ secrets.NOSTR_API_BASE }}
          TIPS_API_TOKEN: ${{ secrets.TIPS_API_TOKEN }}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
